language: java
jdk: oraclejdk11
addons:
  sonarcloud:
    organization: metaxiii
    token:
      secure: cpXyw8inntng+ir9C5xtpqeE6HYqjLyh1w3zZK8wXF0VsSPABFV+6cey+3zFF6jKc2Y5ZRT/7kmlodF+yp5V4x8HakmRToXNdMIR65dWGxRD1bc+qnxNhApVGLzWsr4OZUXOVsjulNFPwKSC717mFDP5AgfVU0MCyD4/2ucsw+SoehalKDXCWaL0IpWyUC9qzHR2u6cMl6Z1YeqW4G1Ce2dvLy0QDtHQsU8cfhGBZiVqCZ6LrUKJ0B0AYGZtAw72H/VHLBgc7f54uMUw6OVlA9g2gBstqNNmxWf0KVVtwUgm2NLBWRwj3hW/qz97f5eeDCpTD0yvHYd7IqpBVaCfgKBFcSvRTybsjnXd7H6uJcjZ78Y/SqjpfuMxZbhRScgXO1Akcy8u3juvsqNNd/+yGb7WtGgSXbHlh68KcuGFZIYRfVLnH9b6xu27guHO4d//h6lXZrn87EgHN9mgZZmM9rG4A+3R4DsbAlVwfqxu/TmQZ4upmhw78TCjmlkrNrqa1wpfg1DE1Whd+qieNm7xMZ5joxykFl+BVQQOpEn09IzEPBw4Q1bfOCFFYSevxKrOYEHRoRJT46ciKKiowXDnxH5iDR0eYJD+XnDezKmrA0pYTYTfMHKVsWcurWIL+FGa6FWld3YR6TtymqkbvCG2/eow+EWx8e7py7R54MDGU30=
script:
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar -Dsonar.projectKey=metaXIII_OC-java-P9
